body {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
}

.hamburger {
  background-image: var(--dynamic-image-hamburger);
  width: 32px;
  height: 32px;
  background-size: cover;
  background-repeat: no-repeat;
  border: none;
}

/* Responsive Design */
@media (max-width: 1024px) {
  .footer-upper {
    padding: 40px 80px;
  }

  .footer-lower {
    padding: 35px 80px;
  }
}

@media (max-width: 768px) {
  .footer-upper {
    flex-direction: column;
    text-align: center;
    padding: 40px 40px;
  }

  .footer-left h2 {
    font-size: 36px;
    margin-bottom: 40px;
  }

  .footer-lower {
    padding: 35px 40px;
  }
}

@media (max-width: 480px) {
  .footer-upper {
    padding: 40px 20px;
  }

  .footer-left h2 {
    font-size: 32px;
  }

  .footer-right {
    flex-direction: column;
  }

  .footer-lower {
    flex-direction: column;
    padding: 35px 20px;
  }

  .footer-links {
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
  }

  .footer-links a:first-child {
    margin-right: 0;
    margin-bottom: 20px;
  }
}

/*STYLE POUR L'ONGLET LOCATIONS*/

/*

.locations {
  border : 2px solid red;
  background-image: url("/ressources/BannerOthers.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 200px;
  margin-bottom: 120px;
}

*/

.locations h2 {
  font-family: "Space Mono";
  font-size: 56px;
  font-weight: bold;
  line-height: 56px;
  letter-spacing: -2.5px;
  color: white; 
}

.locations-h2 {
  display: flex;
  margin: 0 auto;
  align-content: center;
  border : 2px solid blue;
  width: 1110px;
  height: 200px;
}

.map {
  position: relative;
  width: 1110px;
  height: 543px;
  margin: 0 auto;
  margin-bottom: 120px;
}

.city-request h3 {
  font-family: "Space Mono";
  font-size: 48px;
  font-weight: bold;
  line-height: 48px;
  letter-spacing: -2.14px;
  color: #495567;
}

.city-request p {
  font-family: "Lexend Deca";
  font-size: 15px;
  font-weight: regular;
  line-height: 25px;
  color: #939caa;
}

.pinLocation {
  position: relative;
}

.pin_container {
  position: absolute;
  display: flex;
  justify-content: center;
  background: url("/ressources/PinLocation.png") no-repeat;
  background-size: cover;
  background-repeat: no-repeat;
  height: 88px;
  width: 189px;
}

.map {
  position: relative;
  width: 1110px;
  height: 543px;
  margin: 0 auto;
  margin-bottom: 120px;
}

.pin_container_position1 {
  position: absolute;
  left: 149px;
  top: 68px;
}

.pin_container_position2 {
  position: absolute;
  left: 393px;
  top: 16px;
}

.pin_container_position3 {
  position: absolute;
  left: 857px;
  top: 75px;
}

.pin_container_position4 {
  position: absolute;
  left: 780px;
  top: 250px;
}

.pin_text {
  display: flex;
  position: absolute;
  color: #495567;
  font-family: "Space Mono";
  font-size: 24px;
  font-weight: bold;
  background: none;
  border: none;
  letter-spacing: -1.07px;
  line-height: 28px;
  top: 20px;
}

.city-request {
  display: flex; /* Utilise Flexbox pour aligner les éléments sur une ligne */
  align-items: center; /* Centre verticalement les éléments */
  justify-content: space-between; /* Répartit les éléments avec un espace égal */
  width: 1110px; /* Définit la largeur de la ligne */
  height: 100px;
  margin: 0 auto; /* Centre la section horizontalement dans la page */
  gap: 85px;
  margin-bottom: 120px;
}

.city-request h3 {
  width: 320px;
}

.city-request p {
  width: 445px;
}
