body {
  /*max-width: 1110px;*/
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
}

.header {
  width: 1106px;
  height: 53px + 44px;
  margin: 0 auto;
}

.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 22px 0;
  box-sizing: border-box;
}

.hamburger {
  background-image: var(--dynamic-image-hamburger);
  width: 32px;
  height: 32px;
  background-size: cover;
  background-repeat: no-repeat;
  border: none;
}

.header-left > :first-child {
  align-self: flex-start; /* Aligne uniquement le premier enfant en haut */
}

.header-left > :last-child {
  align-self: flex-end; /* Aligne uniquement le premier enfant en haut */
}

.header-left {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1440px - 180px;
  gap: 100px;
}

.h1__scoot {
  display: flex;
  background-image: var(--dynamic-image-Scoot);
  background-repeat: no-repeat;
  align-items: center;
  width: 107.82px;
  height: 28.56px;
}

.h1__scoot:hover {
  cursor: pointer;
}

/*Menu du header*/

.header__nav ul {
  display: flex;
  list-style: none;
  justify-content: end;
  margin: 0;
  padding: 0;
  color: #939caa;
  font-family: "Space Mono";
  font-size: 15px;
  font-weight: bold;
  text-decoration: none;
  gap: 15px; /* Adjust spacing as needed */

  .header__nav__item {
    margin: 0 15px;
  }

  .header__nav__item:hover {
    cursor: pointer;
  }

  .header__nav__item__link {
    text-decoration: none;
    color: #939caa;
  }
}

.footer-lower::before {
  content: "";
  position: absolute;
  top: -160px; /* Adjust based on the height of the circles */
  right: 0;
  height: 160px;
  width: 160px;
  background: url("../ressources/Circles.png") no-repeat;
  background-size: cover;
  z-index: 2; /* Ensure circles are on top of the darker background */
}

/* Responsive Design */
@media (max-width: 1024px) {
  .footer-upper {
    padding: 40px 80px;
  }

  .footer-lower {
    padding: 35px 80px;
  }
}

@media (max-width: 768px) {
  .footer-upper {
    flex-direction: column;
    text-align: center;
    padding: 40px 40px;
  }

  .footer-left h2 {
    font-size: 36px;
    margin-bottom: 40px;
  }

  .footer-lower {
    padding: 35px 40px;
  }
}

@media (max-width: 480px) {
  .footer-upper {
    padding: 40px 20px;
  }

  .footer-left h2 {
    font-size: 32px;
  }

  .footer-right {
    flex-direction: column;
  }

  .footer-lower {
    flex-direction: column;
    padding: 35px 20px;
  }

  .footer-links {
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
  }

  .footer-links a:first-child {
    margin-right: 0;
    margin-bottom: 20px;
  }
}

/*STYLE POUR L'ONGLET LOCATIONS*/

.city-request h3 {
  font-family: "Space Mono";
  font-size: 48px;
  font-weight: bold;
  line-height: 48px;
  letter-spacing: -2.14px;
  color: #495567;
}

.city-request p {
  font-family: "Lexend Deca";
  font-size: 15px;
  font-weight: regular;
  line-height: 25px;
  color: #939caa;
}

.pinLocation {
  position: relative;
}

.pin_container {
  justify-content: center;
  position: absolute;
  background: url("../ressources/PinLocation.png") no-repeat;
  background-size: cover;
  background-repeat: no-repeat;
  height: 88px;
  width: 189px;
}

.pin_container_position1 {
  left: 100px;
  top: 300px;
}

.pin_container_position2 {
  left: 300px;
  top: 300px;
}

.pin_container_position3 {
  left: 500px;
  top: 300px;
}

.pin_container_position4 {
  left: 700px;
  top: 300px;
}

.pin_text {
  position: absolute;
  display: flex;
  color: #495567;
  font-family: "Space Mono";
  font-size: 24px;
  font-weight: bold;
  background: none;
  border: none;
  letter-spacing: -1.07px;
  line-height: 28px;

  .pin2 {
    top: 20px;
    left: 322%;
  }

  .pin3 {
    top: 20px;
    left: 422%;
  }

  .pin4 {
    top: 20px;
    left: 622%;
  }
}

/*A REMETTRE DANS LE GLOBAL */
.header__link {
  color: white;
  font-family: "Space Mono";
  font-size: 15px;
  font-weight: bold;
  text-decoration: none;
  background: none;
  border: none;
  transition: all 0.3s ease; /* Animation douce pour le hover */
}

.button__container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 53px;
  width: 180px;
  border: 2px solid transparent; /* Pour éviter les sauts quand la bordure change */
  background-color: #fcb72b;
  transition: all 0.3s ease; /* Animation douce pour le hover */
}

.button__container:hover {
  border: 2px solid #fbb03b;
  background-color: transparent;
  cursor: pointer;
}

.button__container:hover .header__link {
  color: #fbb03b;
}
